{% extends "layout.jinja" %}

{% block container %}

    {% if error_msg %}
      <p class="text-error alert alert-error"><span class="label label-important">Error</span>
        {{ error_msg }}
      </p>
    {% endif %}
    <form method="post" class="form">
      <h4>Audit an item</h4>
      {{ g.csrf_input|safe }}
      <input type="text" class="input-block-level"
          placeholder="Description" name="reason">
      <select class="input-block-level combobox" id="category_name"
          name="category_name">
        <option value="">Category</option>
        {% for category in categories %}
          <option value="{{ category.name }}" {{ 'selected="selected"' if request.args['category_name'] == category.name }}>{{ category.name }}: {{ category.description }} </option>
        {% endfor %}
      </select>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>

{% endblock %}
