{% extends "layout.jinja" %}

{% block container %}
    <div class="alert alert-info">
      <h3>
        <span style="font-weight: normal;">Coming soon...</span>
      </h3>
      <p>
        Here you will be able to view/add audit entries.  Adding can be
        done now, but it isn't fully implemented/hooked in from the
        useful part of the tracker yet, but it will be.
      </p>
    </div>
{% endblock %}
