{% extends "layout.jinja" %}

{% block container %}

    {% if error_msg %}
      <p class="text-error alert alert-error"><span class="label label-important">Error</span>
        {{ error_msg }}
      </p>
    {% endif %}

  <div class="row"><div class="offset2 span8">
    <form method="post" class="form-horizontal">
      <fieldset>
        <legend>Add Group</legend>
        {{ g.csrf_input|safe }}

        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" class="input-block-level"
                placeholder="Name" name="name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input type="text" class="input-block-level"
                placeholder="Description" name="description">
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div></div>

{% endblock %}
