{% extends "layout.jinja" %}

{% block container %}

    {% if error_msg %}
      <p class="text-error alert alert-error"><span class="label label-important">Error</span>
        {{ error_msg }}
      </p>
    {% endif %}

  <div class="row"><div class="offset2 span8">
    <form method="post" class="form-horizontal">
      <fieldset>
        <legend>Group Assignment for User</legend>
        {{ g.csrf_input|safe }}

        <div class="control-group">
          <label class="control-label" for="login">User's Login</label>
          <div class="controls">
            <input type="text" class="input-block-level" readonly="readonly"
                placeholder="Login" name="login" value="{{ user.login or '' }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"
              for="group_assignment">Group Assignment</label>
          <div class="controls">

          {% for group in all_groups %}
            <label class="checkbox">
              <input type="checkbox" name="group" value="{{ group.name }}"{{
                  group.name in user_groups_names and
                  ' checked="checked"' or '' }}>
                <span title="{{ group.description }}">{{ group.name }}</span>
            </label>
          {% endfor %}

          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div></div>

{% endblock %}
