{% extends "layout.jinja" %}

{% block script %}

{% block scriptvars %}{% endblock %}

    $(document).ready(function() {
        var data = extractTable(elemsel);
        $(elemsel).TidyTable({
            tableClass     : "table table-bordered table-condensed"
        },
        {
            columnTitles : data['thead'],
            columnValues : data['tbody'],
        });
    });

    function extractTable(selector) {
        var thead = [];
        var tbody = [];
        var tbl = $(selector).find('table:first');

        var m = tbl.find('thead tr:first th');
        m.each(function(i) {
            thead.push($(m[i]).html());
        });

        var m = tbl.find('tbody tr')
        m.each(function(i) {
            var row = [];
            var n = $(m[i]).find('td');

            n.each(function(j) {
                var node = $(n[j]);
                var title = node.attr('title');
                var value = title ? title : node.text();
                var value_num = Number(value);
                value = isNaN(value_num) ? value : value_num;

                row.push({
                    'col_value': node.html(),
                    'value': value,
                    'title_value': title
                });
            });
            tbody.push(row);
        })

        return {
            'thead': thead,
            'tbody': tbody
        };
    }

{% endblock %}
