<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MTJ POS Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .navbar .nav {
        text-transform: capitalize;
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/jquery.tidy.table.mtj.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">POS Tracker</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for item in g.navbar %}
                {% if request.blueprint == item %}
                  <li class="active"><a href="/{{ item }}">{{ item }}</a></li>
                {% else %}
                  <li><a href="/{{ item }}">{{ item }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% block container %}{% endblock %}

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tidy-table/jquery.tidy.table.js') }}"></script>


    <script>
    {% block script %}{% endblock %}
    </script>

  </body>
</html>
