<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MTJ POS Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/jquery.tidy.table.mtj.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/mtj.flask.evetracker.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ request.script_root or '/' }}">POS Tracker</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

              {% for name, prefix in g.navbar %}
                {% if request.blueprint == name %}
                  <li class="active"><a href="{{ request.script_root }}{{ prefix }}/">{{ name }}</a></li>
                {% else %}
                  <li><a href="{{ request.script_root }}{{ prefix }}/">{{ name }}</a></li>
                {% endif %}
              {% endfor %}

            </ul>
            <ul class="nav pull-right mtj-user">

              {% for name, prefix in g.aclbar %}
                <li><a href="{{ request.script_root }}{{ prefix }}">{{ name }}</a></li>
              {% endfor %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="content" class="container">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="flash text-info alert alert-info"><span class="label label-info">Info</span> {{ message }}</div>
        {% endfor %}
      </div>

    {% block container %}{% endblock %}

    </div> <!-- /container -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='assets/js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mtj.flask.evetracker.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tidy-table/jquery.tidy.table.js') }}"></script>


    <script>
    {% block script %}{% endblock %}
    </script>

  </body>
</html>
