{% extends "layout.jinja" %}

{% block container %}

      <div id="pos">
        <form class="form-inline form-tower-filter">
          <strong>Filters</strong>
          <span class="offset1">
            <input id="region" type="text" placeholder="Region" />
            <input id="celestial" type="text" placeholder="Moon" />
          </span>
          <span class="span2 pull-right">
            <button type="button" id="showAll" class="btn btn-primary"
                data-toggle="button">Toggle Outdated</button>
          </span>
        </form>

        <div id="pos_overview">

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>State</th>
              <th>Tower</th>
              <th>Region</th>
              <th>Moon</th>
              <th>Offline at</th>
              <th>Offline in</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        </div>
      </div>

{% endblock %}

{% block script %}

    var towers = [];
    var regions = [];
    var filterRegion = null;
    var filterCelestial = null;
    var celestials = [];
    var lastRegion = null
    var lastCelestial = null

    var script_root = '{{ request.script_root }}';

    $(document).ready(function() {
        var json_root = '{{ g.json_root }}';

        $.get(json_root + '/tower', function(data) {
            if (data.error) {
                // XXX proper error messaging
                // alert(data.error)
                return null;
            }

            towers = data.towers;
            _populateTowers(false);
            $('#showAll').bind('click', function() {
                var showAll = (!$('#showAll').hasClass('active'));
                _populateTowers(showAll);
            });

            $('#region').typeahead({
                source: regions,
                updater: function(item) {
                    filterRegion = item;
                    setTimeout(function() {
                        populateTowers();
                    }, 10);
                    return item;
                }
            });

            $('#celestial').typeahead({
                source: celestials,
                updater: function(item) {
                    filterCelestial = item;
                    setTimeout(function() {
                        populateTowers();
                    }, 10);
                    return item;
                }
            });

            hookPopulateTowers('#region', 250);
            hookPopulateTowers('#celestial', 250);

        });
    });

    function populateTowers() {
        var showAll = ($('#showAll').hasClass('active'));
        if ((lastRegion != $('#region').val().toLowerCase()) ||
                (lastCelestial != $('#celestial').val().toLowerCase())) {
            _populateTowers(showAll);
            lastRegion = $('#region').val().toLowerCase();
            lastCelestial = $('#celestial').val().toLowerCase();
        }
    }

    function _populateTowers(showAll) {
        var values = [];
        var regions = [];
        var celestials = [];

        for (var key in towers) {
            var item = towers[key];
            var value = towerToValue(item, script_root + '/tower/');

            if ((item.apiTimestamp != null) || showAll) {
                if (regions.indexOf(item.regionName) < 0) {
                    regions.push(item.regionName);
                }
                if (celestials.indexOf(item.celestialName) < 0) {
                    celestials.push(item.celestialName);
                }
                if ((item.regionName.toLowerCase().indexOf(
                            $('#region').val().toLowerCase()) > -1) &&
                        (item.celestialName.toLowerCase().indexOf(
                            $('#celestial').val().toLowerCase()) > -1)) {
                    values.push(value);
                }
            }
        }

        regions.sort();
        celestials.sort();

        $('#pos_overview').TidyTable({
            enableCheckbox : false,
            enableMenu     : false,
            tableClass     : "table table-bordered table-condensed tower-listing"
        },
        {
            columnTitles : [
                '', 'Label', 'Region', 'Moon', 'Tower', 'Offline at',
                'Offline in', 'Action'],
            columnValues : values,

            // do something with selected rows
            menuOptions : [
                ['Option 1', { callback : doSomething1 }],
                ['Option 2', { callback : doSomething2 }]
            ]
        }, doSomething3);

    }

    function hookPopulateTowers(target, delay) {
        $(target).keyup(function() {
            var value = $(target).val();
            setTimeout(function() {
                if ($(target).val() == value)
                {
                    populateTowers();
                }
            }, delay);
        });
    }

    // do something with selected results
    function doSomething1(rows) {
        alert('callback1(rows=' + rows.length + "')");
    }

    function doSomething2(rows) {
        alert('callback2(rows=' + rows.length + "')");
    }

    function doSomething3(name, value) {
        //window.location.href = '{{ request.script_root }}/tower/' + name;
        //alert("callback(name='" + name + "', value='" + value + "')");
    }

{% endblock %}
