{% extends "layout.jinja" %}

{% block container %}

  <h1>User Control</h1>
  <p>Hello, {{ user.login|escape }}.</p>

  <dl>
  {% if not user.anonymous %}
    <dt><a href="passwd">Change your password</a></dt>
    <dd>You may change your password using this form</dd>
  {% endif %}
  {% if 'admin' in permit_names %}
    <dt><a href="add">Add new user</a></dt>
    <dd>Add a new user to this site.</dd>

    <dt><a href="list">List users</a></dt>
    <dd>List all the users registered for this site.</dd>
  {% endif %}
  </dl>

  {% if 'admin' in permit_names %}
  <h4>Group Management</h4>
  <dl>
    <dt><a href="group/list">List groups</a></dt>
    <dd>List all the groups available for this site.</dd>

    <dt><a href="group/add">Add new group</a></dt>
    <dd>Add a new group to this site.</dd>
  </dl>
  {% endif %}

{% endblock %}
