{% extends "layout.jinja" %}

{% block container %}

    {% if error_msg %}
      <p class="text-error alert alert-error"><span class="label label-important">Error</span>
        {{ error_msg }}
      </p>
    {% endif %}

  <div class="row"><div class="offset2 span8">
    <form method="post" class="form-horizontal">
      <fieldset>
        <legend>Edit User</legend>
        {{ g.csrf_input|safe }}

        <div class="control-group">
          <label class="control-label" for="login">Login</label>
          <div class="controls">
            <input type="text" class="input-block-level" readonly="readonly"
                placeholder="Login" name="login" value="{{ user.login or '' }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" class="input-block-level" readonly="readonly"
                placeholder="Password" name="password" value="********">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" class="input-block-level"
                placeholder="Name" name="name" value="{{ user.name or '' }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input type="text" class="input-block-level"
                placeholder="Email" name="email" value="{{ user.email or '' }}">
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="submit">Edit</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div></div>

{% endblock %}
