{% extends "layout_tidytablejs.jinja" %}

{% block container %}

      <div id="users">

        <div id="user_overview">

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Login</th>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

          {% for user in users %}
            <tr>
              <td>{{ user.login }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <div class="btn-group">
                  <a class="btn" href="edit/{{ user.login }}">Edit</a>
                  <a class="btn" href="passwd/{{ user.login }}">Set Password</a>
                  <a class="btn" href="group/user/{{ user.login }}">Groups</a>
                </div>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

        </div>
      </div>

{% endblock %}

{% block scriptvars %}
    elemsel = '#user_overview';
{% endblock %}
